.social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 40px;
}
.social li {
  float: left;
  width: 60px;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
  color: #FFFFFF;
}

/* social network styles */
.social-facebook {
  background-color: #3B5998;
}
.social-twitter {
  background-color: #55ACEE;
}
.social-googleplus {
  background-color: #D34836;
}
