.social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social li {
  float: left;
  width: 40px;
  height: 32px;
  cursor: pointer;
  color: #FFFFFF;
}

/* social network styles */
.social-facebook {
  background: #3B5998 url("social-buttons.png") no-repeat 0 0;
}
.social-twitter {
  background: #55ACEE url("social-buttons.png") no-repeat 0 -52px;
}
.social-googleplus {
  background: #D34836 url("social-buttons.png") no-repeat 0 -104px;
}
