.social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 40px;
}
.social li {
  float: left;
  width: 60px;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
}

/* for testing */
.social li:first-of-type {
  background-color: #ededed;
}
.social li:last-of-type {
  background-color: red;
}
