.social ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.social li {
  float: left;
  width: 50%;
  cursor: pointer;
  text-align: center;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.social li:hover {
  opacity: 0.8;
}
.social .clearfix {
  clear: both;
}
.social span {
  color: #FFFFFF;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.social-center {
  background-position: center;
}
.social-facebook div {
  background: #3B5998 url("social-buttons.png") no-repeat left 0;
  height: 24px;
  padding-top: 6px;
}
.social-twitter div {
  background: #55ACEE url("social-buttons.png") no-repeat left -52px;
  height: 24px;
  padding-top: 6px;
}
